body{
    font-family: 'Gantari', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; 

overflow-x: hidden;
}
h1{
    font-size: 70px;
    
}

.skip{
    color: orange;
}
.gray{
    color: rgba(0, 0, 0, 0.642) ;
    padding-top: 200px;
    padding-left: 100px;
}
.h3{
    font-size: 20px;
color: rgba(0, 0, 0, 0.58);
padding-left: 100px;
margin-bottom: 80px;
}
.eat{
    display: flex;
}

.first-div{
width: 50%;


}
.first-div img{

    width: 725px;
height: 725px;
padding-top: 130px;
padding-right: 70px;
margin-right: 190px;

}
.height{
max-height: 100%;
max-height: 100p% ;
}
.km{
    position: relative;
    right: 5%;
}

.link{
text-decoration: none;
margin-left: 90px;

padding: 22px 33px;

background-image: linear-gradient(tomato,orange);
border-radius: 35px;
color: white;
font-weight: 100;
font-size: 18px;

}

.female img {
width: 37%;
height: 97%;


position: relative;
left: 20%;
top: 10%;
}

.about{
width: 35%;
color: rgba(0, 0, 0, 0.598);
position: relative;
right:170px;
top: 100px;



}
.seci{
display: flex;

}
.st{
     background-image: url(images/shapes/7.png)  ;
     background-repeat: no-repeat;
     background-size:   100%; 
     padding-bottom: 50px;
     margin-top: 100px;
    }


.header{

    font-size: 45px;
    padding-bottom: 30px;
}
.lorem{
    font-weight: 700;
font-size: 20px;
padding-bottom: 110px;


}

.target{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    
    padding: 23px 50px;
    border-radius: 35px;
    color: white;
    font-weight: 800;
    font-size: larger;
}
.recipi{
    text-align: center;
    color: rgba(0, 0, 0, 0.564);
    margin-top: 100px;
    margin-bottom: 100px;
}

.kalam{
font-family:Arial, Helvetica, sans-serif ;
font-weight: 900;
}
.been{
    color: rgba(0, 0, 0, 0.61);
}

 
 
.recipis{
text-align: center;
padding: 30px 90px;
margin-top: 60px;
}
.recipis h1{
font-size: 45px;
color: rgba(0, 0, 0, 0.616);
}

.recipis p{
    font-size: 20px;
    padding-bottom: 30px;
}
.recipis .recipi-box{
display: flex;
width: 100%;
height: 600px;
}
.recipi-box .box img{

width:93%;
height: 55%;
padding-top: 15px;
 

}

.box{
    margin-top: 40px;
    box-shadow: 2px 3px 7px gray;
    border-radius: 40px;
    padding: 10px 10px;
    margin-left: 20px;
    width: 100%;
}
.box.ceo{

    position: relative;
    left: 30px;
    margin-right: 60px;
    
}
.box.ceo h3{
    padding-left: 40px;
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}


.box.meo h3{
    padding-left: 40px;
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.box.ceo p{
     text-align: justify;
    padding-left: 35px;
    color: rgba(0, 0, 0, 0.648)
}
.box.meo p{
    text-align: justify;
    padding-left: 35px;
    color: rgba(0, 0, 0, 0.648);
}

